
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap');




.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing : auto;
  font-weight : <weight>;
  font-style : normal;
  font-variation-settings :
    "slnt" 0;
}

.raleway-<uniquifier> {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

@media screen and (max-width: 768px) {
  .off-section {
      display: none;
  }
}